body {
	background-color: rgb(246, 246, 248);
}

/* ----------HEADINGS/TEXT---------- */
h1{ /* Title of page - Rhea Manocha */
	text-align: center;
  color: rgb(36, 50, 77);
	margin-top: 40px;
	font-family: 'Yellowtail', cursive;
	font-size: 12vw;
}

@media only screen and (min-width: 768px) { /* Desktop */
		h1{font-size: 75px;}
}

h2{ /* Portfolio item page title */
  /* color: rgb(60, 83, 128); */
	color: rgb(36, 50, 77);
  margin-left: 50px;
	margin-top: 30px;
	font-family: 'Yellowtail', cursive;
	font-size: 42px;

}

h3{ /* Subheadings */
  color: rgb(99, 109, 128);
  margin-left: 20px;
	margin-bottom: 10px;
	font-family: 'Open Sans', sans-serif;
}

h4{ /* Card title */
  color: rgb(60, 83, 128);
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
}

p{ /* Card text */
  color: rgb(99, 109, 128);
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}

/* ----------LIST ITEMS---------- */
ul{
  list-style-type: none;
	text-align: center;
  overflow: hidden;
  padding-left: 0;
	margin-top: 20px;
}

li{
  display: inline;
}

li a{
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}

a:hover{
	text-decoration: none;
	color: rgb(99, 109, 128);
}

li a:active{
	color: rgb(36, 50, 77);
}

.projects{
	/* background-color: rgb(53, 63, 72); */
	margin: 25px;
  overflow: hidden;
}

/* ----------CARD FORMATTING---------- */
.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin: 10px;
		background-color: white;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
    width: 100%;
}

/* ----------GHOST BUTTON---------- */
.cta { /* Not call to action anymore, change all names later */
    -moz-border-radius: 2px;
    -moz-transition: 0.2s ease-out;
    -ms-transition: 0.2s ease-out;
    -o-transition: 0.2s ease-out;
    -webkit-border-radius: 2px;
    -webkit-transition: 0.2s ease-out;
    background-clip: padding-box;
    border: 2px solid rgb(36, 50, 77);
    border-radius: 2px;
    color: rgb(36, 50, 77);
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    height: 36px;
    letter-spacing: 0.5px;
    line-height: 30px;
    margin-bottom: 15px;
		margin-right: 10px;
    padding: 0 2rem;
    text-decoration: none;
    transition: 0.2s ease-out;
}
.cta:hover {
    background-color: rgb(36, 50, 77);
		color: white;
		box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.cta-home {
    -moz-border-radius: 2px;
    -moz-transition: 0.2s ease-out;
    -ms-transition: 0.2s ease-out;
    -o-transition: 0.2s ease-out;
    -webkit-border-radius: 2px;
    -webkit-transition: 0.2s ease-out;
    background-clip: padding-box;
    border: 2px solid white;
    border-radius: 2px;
    color: white;
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    height: 36px;
    letter-spacing: 0.5px;
    line-height: 30px;
    margin-bottom: 15px;
		margin-right: 10px;
    padding: 0 2rem;
    text-decoration: none;
    transition: 0.2s ease-out;
}

.cta-home:hover {
    background-color: white;
		color:rgb(36, 50, 77);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
